@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
   
    background-color: #242424;
}   

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

body {
    color: whitesmoke;
    margin: 2em;
}


img {
    max-width: 400px;
    max-height: 400px;
    border-radius: 25%;
}

footer {
    background-color: cornsilk;
    display: flex;
    padding: 20px;  
    margin: 0;
    justify-content: center;
}

header {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 30px 5%;
    list-style: none;
    gap: 1rem;
    flex: 1 1 100%;
    align-items: center;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    width: 6em;
    height: auto;
    border-radius: 50%;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1) ;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8) ;
}

.container {
    display: flex;
    align-items: center;
    font-size: x-large;
    flex: 1;
    gap: 2em;
}

h2 {
    margin-top: 120px;
}

.infoBox {
    display: flex;
    flex: 1;
    gap: 3em;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
    background-color: darkgray;
}

.infoBox li img {
    margin-top: 1em;
    background-color: darkgray;
}

.infoBox li a {
    display: flex;
    justify-content: center;
    background-color: darkgray;
}